/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
// @import '~bootstrap-css-only/css/bootstrap.css';
// @import '~@fortawesome/fontawesome-free/css/all.css';
// @import '~highlight.js/styles/github.css';
// @import '~flatpickr/dist/flatpickr.css';
// @import '../angular-calendar/src/angular-calendar.scss';
// @import "bootstrap/dist/css/bootstrap.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
